<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dp.mapper.ShopDao">

    <insert id="addShop" parameterType="com.example.dp.pojo.Shop">
        insert into client_dp values (#{shop_id},#{shop_name},#{shop_location},#{shop_type},#{shop_synopsis},#{found_date},#{shop_director},#{shop_capital})
    </insert>
    
    <select id="queryById" resultMap="Shop">
        select * from client_dp
        where id = #{shop_id}
    </select>

    <select id="queryAll" resultMap="Shop">
        select * from client_dp
    </select>

    <resultMap id="Shop" type="com.example.dp.pojo.Shop">
        <result column="id" property="shop_id"></result>
        <result column="client_name" property="shop_name"></result>
        <result column="client_location" property="shop_location"></result>
        <result column="style" property="shop_type"></result>
        <result column="setup_date" property="found_date"></result>
        <result column="intro" property="shop_synopsis"></result>
        <result column="topboss_name" property="shop_director"></result>
        <result column="capital" property="shop_capital"></result>
    </resultMap>



</mapper>