<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dp.mapper.PredictMapper">

    <select id="selectProductInfById" resultMap="PredictTotalSales">
        select * from predict_totalsales_dp
        where id = #{id}
    </select>

    <select id="selectpredictTotalSalesNewestId" resultType="java.lang.String">
        select id from predict_totalsales_dp order by id desc limit 1;
    </select>
    <select id="selectpredictReturnNewestId" resultType="java.lang.String">
        select id from predict_return_dp order by id desc limit 1;
    </select>
    <select id="selectpredictResult_productNewestId" resultType="java.lang.String">
        select id from predict_product_dp order by id desc limit 1;
    </select>

    <insert id="insertPredictResult" parameterType="com.example.dp.pojo.PredictProduct">
        insert into predict_product_dp values (#{id},#{shop_id},#{forecast_date},#{product_id},#{forecast_result},)
    </insert>
    <insert id="insertPredictReturn" parameterType="com.example.dp.pojo.PredictReturn">
        insert into predict_return_dp values (#{id},#{shop_id},#{product_id},#{date},#{return_num},)
    </insert>
    <insert id="insertPredictTotalSales" parameterType="com.example.dp.pojo.PredictTotalSales">
        insert into predict_totalsales_dp values (#{id},#{shop_id},#{date},#{result},#{actual})
    </insert>

    <resultMap id="String" type="java.lang.String"></resultMap>
    <resultMap id="PredictTotalSales" type="com.example.dp.pojo.PredictTotalSales">
        <result column="id" property="id"></result>
        <result column="shop_id" property="shop_id"></result>
        <result column="date" property="date"></result>
        <result column="result" property="result"></result>
        <result column="actual" property="actual"></result>
    </resultMap>

    <resultMap id="PredictProduct" type="com.example.dp.pojo.PredictProduct">
        <result column="id" property="id"></result>
        <result column="shop_id" property="shop_id"></result>
        <result column="forecast_date" property="forecast_date"></result>
        <result column="product_id" property="product_id"></result>
        <result column="forecast_result" property="forecast_result"></result>
    </resultMap>

    <resultMap id="PredictReturn" type="com.example.dp.pojo.PredictReturn">
        <result column="id" property="id"></result>
        <result column="shop_id" property="shop_id"></result>
        <result column="date" property="date"></result>
        <result column="product_id" property="product_id"></result>
        <result column="return_num" property="return_num"></result>
    </resultMap>





</mapper>